
h1 {
   color :rgb(209, 132, 43) ;
 
}

h2{
text-align: right;
font-size: 500;
font-weight: bold;
}

.p1{ 
    font-family: Arial;
  }
  
.p2{
    font-family: monospace;
    color: #123f15; 
    font-weight: normal;
    font-style: normal;
     text-align: right;

}