
hr {
      border: ;
      border-top: 1px solid #ccc;
      margin-bottom: 20px;
   }

.code-block {
            font-family: monospace; 
            font-size: 16px;
            line-height: 1.5;
            white-space: pre; 
        }   

.property {
           color: blue; 
         }

.value {
            color: green; 
        }
